Node.js dependencies
/node_modules

Environment Secrets
IMPORTANT: DO NOT COMMIT THESE FILES TO GITHUB!
.env
serviceAccountKey.json

Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

OS and Editor Files
.DS_Store
.vscode